.product {
  &__link {
    display: block;
  }
  
  &__item {
    padding: 10px;
    border-radius: 6px;
    @include hover(box-shadow, 0 0 10px 5px rgba(180,189,196,0.5), 0.3);
    cursor: pointer;
  }

  &__image {
    display: block;
    object-fit: cover;
    width: 100%;
    border-radius: 6px;
  }

  &__title {
    margin: 20px 0;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: $primary-color;
  }
}
