@import "./styles/fonts";
@import "./styles/reset";
@import "./styles/variables";
@import "./styles/mixins";

@import "./components/ProductsList";
@import "./components/ProductCard";
@import "./components/Spinner";
@import "./components/GoBackButton";
@import "./components/Breadcrumbs";
@import "./components/BackToTop";

html {
  @include scrollbar-style;
  font-family: Mont, Arial, Helvetica, sans-serif;
  color: $primary-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
